body{
    margin: 0px;
    height: 100vh;
    color: white;
}


.container{
    background-color: rgb(137, 182, 198);
    height: 275%;
    background-image: url(./assists/img/deniz.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.container::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgb(0, 0, 0, 0.6);
}

.container *{
    z-index: 10;
}

.top{
    background-color: rgb(137, 182, 198);
    padding: 15px;
}


.button1-div{
    display: flex;
    justify-content: start;
    align-items: end;
}


#button1{
    background-color: rgb(17, 17, 68);
    color: lightcyan;
    position: relative;
    margin: 5px 0px 5px 30px;
    padding: 8px 20px;
    font-size: 1rem;
    border-radius: 5px;
    border: 0px solid blue;
    cursor: pointer;
    transition: all 0.3s;
}

#button1:hover{
    transform: scale(1.1);
}


.style1-div{
    display: flex;
    justify-content: end;
    align-items: start;
}

.style1{
    width: 20px;
    height: 20px;
    margin: -30px 80px 0px 0px;
    cursor: pointer;
}


.style2-div{
    display: flex;
    justify-content: end;
    align-items: start;
}

#style2{
    width: 20px;
    height: 20px;
    margin: -30px 30px 0px 0px;
    cursor: pointer;
}




.top2{
    background-color: rgb(17, 17, 68);
    padding: 10px;
}



.h1-div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.h1{
    color: blueviolet;
    font-size: x-large;
    margin: 35px 0px 0px 0px;
}

.h4-div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.h4{
    color: rgba(167, 81, 247, 0.737);
    margin: -5px 0px 0px 0px;
    font-size: medium;
}

.button2-div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.button2{
    background-color: blueviolet;
    color: lightcyan;
    font-size: medium;
    padding: 5px 25px;
    margin: 0px 0px 100px 0px;
    border: 0px solid blueviolet;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.3s;
}


.button2:hover{
    transform: scalex(1.1);
}

.boxs-div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.box{
    background-color: blueviolet;
    width: 130px;
    height: 120px;
    border-radius: 7px;
    margin: -61px 0px 0px 0px ;
    cursor: pointer;
    transition: all 0.3s;
}

.box:hover{
    transform:scale(0.9);
}





















.h1-div2{
    display: flex;
    justify-content: center;
    align-items: center;
}


.h1-2{
    font-size: x-large;
    margin: 50px 0px 0px 0px;

}

.boxs-div2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}


.boxs-2{
    background-color: blueviolet;
    width: 130px;
    height: 120px;
    border-radius: 7px;
    margin: 20px 0px 0px 0px ;
    cursor: pointer;
    transition: all 0.3s;
}

.boxs-2:hover{
    transform:scale(0.9);
}

.h4-1{
    margin: 5px 0px 0px 65px;
}

.h4-2{
    margin: -19px 0px 0px 200px;
}

.h4-3{
    margin: -19px 0px 0px 345px;
}


.h4-4{
    margin: -19px 0px 0px 485px;
}


.boxs-div3{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 50px 0px 0px 0px;
}







.h4-1{
    margin: 5px 0px 0px 65px;
}

.h4-2{
    margin: -19px 0px 0px 200px;
}

.h4-3{
    margin: -19px 0px 0px 345px;
}


.h4-4{
    margin: -19px 0px 0px 485px;
}














.h1-div3{
    display: flex;
    justify-content: center;
    align-items: center;
}

.h1-3{
    font-size: x-large;
    margin: 50px 0px 0px 0px;
}

.boxs-div4{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-right: 5px;
}

.boxs-4{
    background-color: blueviolet;
    width: 271px;
    height: 120px;
    border-radius: 7px;
    margin: 20px 0px 0px 0px;
    cursor: pointer;
    transition: all 0.3s;
}

.boxs-4:hover{
    transform:scale(0.9);
}



.h1-div-1{
    display: flex;
    justify-content: start;
    align-items: center;
}




.h-1-1{
    font-size: x-large;
    margin: 5px 0px 0px 65px;
}






.h1-div-2{
    display: flex;
    justify-content: start;
    align-items: center;
}

.h-1-2{
    font-size: x-large;
    margin: -25px 0px 0px 348px;
}
















.h1-div-11{
    display: flex;
    justify-content: start;
    align-items: center;
}




.h-1-11{
    font-size: medium;
    margin: 5px 0px 0px 65px;
}





.h1-div-22{
    display: flex;
    justify-content: start;
    align-items: center;
}

.h-1-22{
    font-size: medium;
    margin: -25px 0px 0px 348px;
}
























.h-1-11{
    margin: -10px 0px 0px 65px;
}


.h-1-22{
    margin: -100px 0px 0px 348px;
}











.h1-div-thre{
    display: flex;
    justify-content: center;
    align-items: center;
}




.h1-thre{
    font-size: x-large;
    margin: 50px 0px 0px 0px;
}

.boxs-div-thre{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}



.boxs-thre{
    background-color: blueviolet;
    width: 160px;
    height: 110px;
    margin: 20px 0px 0px 0px ;
    border-radius: 7px;
    cursor: pointer;
    transition: all 0.3s;
}

.boxs-thre:hover{
    transform:scale(0.9);
}


.img-share1{
    display: flex;
    justify-content: end;
    align-items: start;
}


.share1{
    width: 18px;
    height: 18px;
    margin: -60px 60px 0px 0px ;
    cursor: pointer;
    transition: all 0.2s;
}

.share1:hover{
    transform:scale(0.9);
}



.img-share2{
    display: flex;
    justify-content: start;
    align-items: start;
}


.share2{
    width: 18px;
    height: 18px;
    margin: -60px 0px 0px 60px ;
    rotate: 180deg;
    cursor: pointer;
    transition: all 0.2s;
}


.share2:hover{
    transform:scale(0.9);
}



























.box-buttom-div{
    display: flex;
    justify-content: start;
    align-items: center;
}


.box-buttom{
    background-color: blueviolet;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    margin: 100px 0px 0px 82px;
    cursor: pointer;
    transition: all 0.3s;
}

.box-buttom:hover{
    transform:scale(1.1);
}



.h1-buttom-div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.h1-buttom{
    font-size: x-large;
    margin: -150px 0px 0px -30px;
}



.h4-buttom-div{
    display: flex;
    justify-content: center;
    align-items: center;
}


.h4-buttom{
    font-size: medium;
    margin: -70px 0px 0px 157px;
}






















.buttom2-div{
    height: 6%;
    background-color: rgb(17, 17, 68);
}

.buttom2-div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    
}

.boxs-buttom2{
    background-color: blueviolet;
    width: 30px;
    height: 30px;
    border-radius: 7px;
    margin:-20px 0px 0px 0px;
}


.h4-buttom2-div{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.h4-buttom2{
    margin:85px 0px 0px 0px;
    font-size: large;
    color: rgba(137, 43, 226, 0.474);
    margin: 30px 50px 0px 0px;
    text-align: center;
}